{% extends 'base.html' %}

{% block content %}
<div>Edit/Delete Food Here.</div>
<div>{{ testContext }}</div>

<div id="food-list" class="not-visible"></div>

<div class="container">
    <div class="row">
        <div class="col-md">
            {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
                </ul>
            </nav>
            {% else %}
            <div> Not paginated. </div>
            {% endif %}
        </div>
        <div class="col-md"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <table>
                <tbody>
                    {% for food in food_list %}
                    <tr>
                        <td class="col-3">Food ID: </td>
                        <td class="col-6">{{ food.pk }}</td>
                        <td class="col-3" rowspan="7">
                            <a href="{% url 'food_delete' food.pk %}">Delete this record</a>
                            {% comment %} <div id="btn-box" class="mt-5">
                                <button type="submit" class="ui primary button" value="{{ meal.pk }}">Delete This Record.</button>
                            </div> {% endcomment %}
                        </td>
                    </tr>
                    <tr>
                        {% comment %} For foreign key, to access their headers, need to go 1 more layer down to foreign key's field like "meal.food.name" {% endcomment %}
                        <td class="col-3">Food type: </td><td class="col-6">{{ food.foodType.foodType }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Food name: </td><td class="col-6">{{ food.name }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Manufacturer: </td><td class="col-6">{{ food.manufacturer | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Weight Type: </td><td class="col-6">{{ food.weightType.weightType }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Weight Per Meal: </td><td class="col-6">{{ food.weightPerMeal | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Calories: </td><td class="col-6">{{ food.calories | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Protein: </td><td class="col-6">{{ food.protein | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Fat: </td><td class="col-6">{{ food.fat | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Saturated Fat: </td><td class="col-6">{{ food.saturatedFat | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Trans Fat: </td><td class="col-6">{{ food.transFat | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Carbohydrates: </td><td class="col-6">{{ food.carbohydrates | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">Sodium: </td><td class="col-6">{{ food.sodium | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">VitaminB1: </td><td class="col-6">{{ food.vitaminB1 | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">VitaminB2: </td><td class="col-6">{{ food.vitaminB2 | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3">VitaminB3: </td><td class="col-6">{{ food.vitaminB3 | default_if_none:"N/A" }}</td>
                    </tr>
                    <tr>
                        <td class="col-3"></td>
                        <td class="col-3" colspan="2"><a href="{{ food.get_absolute_url }}">Click here to edit the record.</a></td>
                    </tr>
                    <tr><td><br></td><td></td></tr>
                    {% comment %} <td>{{ object.mealTime }}</td> {% endcomment %}
                    {% empty %}
                    <tr>
                        <td>No object found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md">
            {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
                </ul>
            </nav>
            {% else %}
            <div> Not paginated. </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}