/* General */
.mt-5 {
  margin-top: 5px !important;
}

/* .purpose-wrapper {
  position: relative;
}

.purpose {
  position: absolute;
  top: 50%;
  left: -50px;
  width: calc(100% - 50px);
} */

.not-visible {
  display: none;
}

.block-left {
  opacity: 0;
  transform: translateX(-70px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.block-right {
  opacity: 0;
  transform: translateX(70px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.block-visible {
  opacity: 1;
  transform: translateX(0);
}

.whitespace100 {
  padding-bottom: 100px;
}

.whitespace300 {
  padding-bottom: 300px;
}

.whitespace500 {
  padding-bottom: 500px;
}

.whitespace1000 {
  padding-bottom: 1000px;
}

/* Forms */
.form-header {
  font-weight: bold;
}

.red-font {
  color: red;
}

/* https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_breakpoints */
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}